[paths]
source =
    lightbus/
    /lightbus/lightbus
    /home/circleci/project/lightbus

[run]
data_file = .coverage/coverage
omit =
    lightbus/utilities/testing.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if self.debug:
    if settings.DEBUG
    raise NotImplementedError
    if 0:
    if __name__ == .__main__.:
