[paths]
source =
    lightbus/
    /lightbus/lightbus

[run]
data_file = .coverage/coverage

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if self.debug:
    if settings.DEBUG
    raise NotImplementedError
    if 0:
    if __name__ == .__main__.:
