[MASTER]

disable=similarities,
        bad-continuation,
        missing-docstring,
        too-few-public-methods,
        unused-argument,
        fixme,
        too-many-branches,
        logging-fstring-interpolation,
        logging-format-interpolation,
        invalid-name,
        using-constant-test,
        arguments-differ,
        too-many-arguments,
        too-many-locals,
        protected-access,
        too-many-instance-attributes,
        no-self-use,
        no-else-return,
        no-else-raise,
        import-error

[FORMAT]
max-line-length=120
