[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aioredis = "==1.2.0"
jsonschema = ">=2.6.0,<3"
pyyaml = "*"
python-dateutil = "*"
janus = "*"
lightbus = {editable = true, path = "."}
"psycopg2-binary" = "*"

[dev-packages]
flake8 = "==3.4.1"
coverage = "==4.4.1"
pytest = "==5.1.1"
pytest-cov = "==2.7.1"
pytest-xdist = "==1.29.0"
pytest-mock = "==1.10.4"
pytest-repeat = "==0.8.0"
pytest-asyncio = "==0.10.0"
dataclasses = "==0.6"
async_timeout = "==1.4.0"
# Newer versions of aiopg seem to cause issues
aiopg = "==0.15.0"
bpython = "*"
pyyaml = "==3.12"
structlog = "*"
colorama = "*"
schedule = "*"
tox = "*"
pre-commit = "*"
mkdocs-material = ">=4,<5"
mkdocs = ">=1,<2"
pymdown-extensions = ">=4.9.1,<5"
markdown = "<3"
pytest-timeout = "*"
pylint = "*"
