#version-selector {
  padding: .6rem .8rem;
}
.md-nav__item--nested #version-selector {
  padding: .6rem .6rem;
}
#version-selector select {
  display: block;
  width: 100%;
  font-size: .8rem;
}
@media only screen and (min-width:76.1875em) {
.md-nav__item--nested #version-selector {
  padding: .6rem .0rem;
}
  #version-selector {
    padding: .6rem .6rem;
  }
}
