#version-selector {
  padding: .6rem .8rem;
}
#version-selector select {
  display: block;
  width: 100%;
  font-size: .8rem;
}
@media only screen and (min-width:76.1875em) {
  #version-selector {
    padding: .6rem;
  }
}
